
.icon-brush:before { content: '\e800'; } /* '' */
.icon-book:before { content: '\e801'; } /* '' */
.icon-ok-circled:before { content: '\e802'; } /* '' */
.icon-ok-circled2:before { content: '\e803'; } /* '' */
.icon-videocam:before { content: '\e804'; } /* '' */
.icon-camera-alt:before { content: '\e805'; } /* '' */
.icon-video:before { content: '\e806'; } /* '' */
.icon-laptop-1:before { content: '\f109'; } /* '' */