### PROTECT FILES ###
<FilesMatch "\.(htaccess|htpasswd|ini|fla|psd|log|sh)$">
Order Allow,Deny
Deny from all
</FilesMatch>

RewriteEngine on
RewriteRule strong-glowna index.html
RewriteRule grafika grafika.html
RewriteRule animacja animacja.html
RewriteRule audiobook audiobook.html
RewriteRule fotografia fotografia.html
RewriteRule film film.html
